.carbk-top-bar {
    background-color: #fff;
    padding: 10px 20px;
    position: relative;
    top: -9px;
    left: -20px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}